@import "tailwindcss";

:root {
  --primary: #013FCD;
  --secondary: #f4f4f4;
  --tearnary: #1B49CF;
  --background: #ffffff;
  --foreground: #171717;
  --font-sans:  sans-serif; /* Updated font */
  --rv-bg-primary:#013FCD;
  --rv-white:#f4f4f4;
  --font-body:"Roboto"
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:var(--font-body) !important;
}
p{
  font-family:var(--font-body) !important;
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-heading);
}

@media (max-width: 720px) {

}

a,button{
  cursor: pointer;
}


.main_section {
  padding: 80px 0;
}